.page {
	min-height: 100%;
	width: 100%;
	display: flex;
	positon: relative;
	align-items: center;
	justify-content: center;
	> form {
		text-align: center;
	}
}

.create,
.pages {
	height: 100%;
}

.pages {
	position: relative;
}

.create-page-enter {
position: absolute;
  opacity: 0.01;
}

.icon-button {
	text-decoration: none;
	font-size: 1.8em;
	margin-left: 0.25em;
	cursor: pointer;
}

.create-page-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.create-page-leave {
  opacity: 1;
}

.create-page-leave.create-page-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.page-move {
	cursor: pointer;
	position: absolute;
	top: 50%;
	// background: red;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5em;
	height: 5em;
	// border-radius: 50%;

	color: white;
	text-decoration: none!important;

	> i {
		font-size: 5em;
	}

	&.left {

		left: 0;
	}

	&.right {
		right: 0;
	}

	&.finish {
		color: green;
	}
}