@import 'Colors.less';

.recipecard-component {
  border: 1px solid @brandSecondary;
  background-color: #333;

  img {
    margin: 0 auto;
    height: 15em;
  }

  .title {
    padding: 1em;
    background-color: @brandSecondary;
    text-align: center;
  }
}
