@import 'Colors.less';

.viewrecipe-component {
  background-color: @brandSecondary;
  text-align: center;

  .image-slider {
    height: 20em;
    img {
      height: 100%;
      margin: 0 auto;
    }
  }

  .recipe {

    ul {
      padding: 1em 0;
      list-style: none;
    }
  }
}
